@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gilroy';
  text-rendering: unset;
  -webkit-font-smoothing: unset;
}

// Footer theming
.footer {
  position: relative;
  z-index: 10;
  background-color: $black;
  color: $white;

  a {
    color: white;

    &:hover {
      color: $orange;
    }
  }

  li {
    list-style: none;
  }

  .footer-navigation {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
      padding: 50px 30px 0px 17px;
    }
  }

  .footer-wrapper {
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: $mobile-breakpoint) {
      padding: 0;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    margin: 0;
    margin-bottom: 40px;
    display: block;

    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  .footer-secondary {
    padding-top: 51px;
    padding-bottom: 45px;
    border-top: solid 1px $gray;
    line-height: 19px;

    @media (max-width: $mobile-breakpoint) {
      padding-top: 19px;
      padding-bottom: 3px;
      flex-direction: column;
      align-items: center;

      p,
      ul {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px !important;
        padding: 0;
      }
    }

    p,
    ul {
      margin: 0;
    }
  }

  .active .menu-items {
    @media (max-width: $mobile-breakpoint) {
      max-height: 500px;
    }
  }

  .menu-items {
    padding-left: 0;

    @media (max-width: $mobile-breakpoint) {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
    }

    &:nth-child(2) {
      max-width: 224px;
    }
  }

  .menu-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;

      @media (max-width: $mobile-breakpoint) {
        margin-bottom: 30px;
      }
    }
  }

  .menu-item,
  .contact-block {
    a {
      font-size: 20px;
      line-height: 24px;

      @media (max-width: $mobile-breakpoint) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .footer-menu {
    padding-left: 0;
    margin: 0;
    display: flex;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }

  .menu-items-wrapper {
    flex: 1;
  }

  .menu-wrapper {
    flex: 1;
  }

  .menu-icons-wrapper {
    @media (max-width: $mobile-breakpoint) {
      display: flex;
      justify-content: space-between;
    }

    svg {
      display: none;

      @media (max-width: $mobile-breakpoint) {
        display: block;
      }
    }
  }

  .plus {
    display: block;
    background: unset;
    border: unset;
    padding: 0;
    font-size: unset;
    height: unset;
    line-height: unset;
    max-height: 20px;
  }

  .minus {
    display: none;
    background: unset;
    border: unset;
    padding: 0;
    font-size: unset;
    height: unset;
    line-height: unset;
    max-height: 20px;
  }

  .social-block {
    ul {
      display: flex;
      justify-content: flex-end;
      margin-top: 49px;
      margin-bottom: 51px;

      @media (max-width: $mobile-breakpoint) {
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 0;
        padding: 0;
      }

      li:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .contact-mail,
  .jobs-mail {
    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  .join-us {
    .menu-item {
      @media (max-width: $mobile-breakpoint) {
        display: none;
      }
    }

    &.active {
      .menu-item {
        display: block;
      }
    }
  }

  .active {
    @media (max-width: $mobile-breakpoint) {
      .plus {
        display: none;
      }

      .minus {
        display: block;
      }

      .contact-mail,
      .jobs-mail {
        display: block;
        margin-bottom: 30px;
      }

      h2 {
        margin-bottom: 9px;
      }

      .menu-items {
        display: block;
      }

      .menu-item {
        margin-bottom: 20px;
      }
    }
  }
}

// Main body theming
.book-page {
  @media (max-width: $mobile-breakpoint) {
    min-width: unset;
  }

  a {
    color: $orange;

    &:visited {
      color: $orange;
    }

    &:hover {
      text-decoration: none;
    }
  }

  li {
    a {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 500;
    }

    &::marker {
      color: $orange;
    }
  }

  .markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;

      .anchor {
        position: absolute;
      }
    }

    h1 {
      font-size: 50px;
      font-weight: bold;
      line-height: 62px;
      margin-bottom: 10px;

      @media (max-width: $mobile-breakpoint) {
        font-size: 32px;
        line-height: 40px;
      }
    }

    li {
      margin-bottom: 10px;
    }

    p,
    dl {
      font-size: 18px;
      line-height: 28px;

      @media (max-width: $mobile-breakpoint) {
        line-height: 26px;
      }
    }
  }

  h2,
  h3 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 0;

    @media (max-width: $mobile-breakpoint) {
      padding-top: 0;
    }
  }

  h3 {
    margin-bottom: 20px;

    @media (max-width: $mobile-breakpoint) {
      margin-top: 20px;
    }
  }

  h4 {
    font-size: 20px;
  }

  blockquote {
    border-left: 5px solid $orange;
    border-radius: 0;
    padding-left: 30px;

    p {
      font-size: 20px !important;
    }
  }
}

// Aside theming
.book-menu {
  margin-right: 0;

  .book-menu-content {
    position: static;
    padding: 31px 31px 29px 16px;
    min-width: 360px;
    overflow: unset;

    @media (max-width: $mobile-breakpoint) {
      min-width: auto;
    }
  }

  .book-brand {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    // padding-left: 29px;
  }

  a {
    font-size: 16px;
    line-height: 30px;
    color: $dark-gray;
    margin-bottom: 10px;

    &.active {
      color: $orange;
      font-size: 18px;
      line-height: 27px;
      font-weight: 700;
      position: relative;

      &:before {
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
        width: 3px;
        height: 100%;
        background: $orange;
      }
    }
  }

  li {
    margin: 0;
  }
}

.book-toc {
  display: none;

  @media (min-width: $desktop-breakpoint) {
    display: block;
  }
}

body:has(#menu-control:checked) {
  overflow: hidden;
}

#menu-control ~ main .book-menu .book-menu-content {
  @media (max-width: $mobile-breakpoint) {
    height: 100%;
    background-color: $black;
    color: $white;
    position: relative;

    a {
      color: $white;

      &.active {
        color: $orange;
      }
    }

    input {
      background: transparent;
      border: 1px solid rgba($white, 0.8);
      color: $white;

      &::placeholder {
        color: rgba($white, 0.6);
      }
    }

    label a {
      padding-right: 1rem;
    }
  }
}

#menu-control:checked ~ main .book-menu .book-menu-content {
  @media (max-width: $mobile-breakpoint) {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 100px;
  }
}

.menu-close svg {
  width: 20px;
  height: 20px;
  outline: none;
  position: absolute;
  right: 30px;
  top: 30px;
}

.book-footer {
  margin-top: 5rem;

  .flex {
    a {
      pointer-events: none;
    }

    div {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.header__logo {
  a {
    display: flex;

    img {
      max-width: 250px;
    }
  }
}

// Banner
.banner {
  background-image: url('./banner.webp');
  width: 100%;
  height: 400px;
  position: relative;

  @media (max-width: $mobile-breakpoint) {
    height: 500px;
  }

  .banner__text h1 {
    @media (max-width: $mobile-breakpoint) {
      font-size: 40px;
    }
  }

  .banner__text p {
    @media (max-width: $mobile-breakpoint) {
      line-height: 22px;
    }
  }

  &::before {
    z-index: 0;
    content: '';
    bottom: 0;
    background-image: linear-gradient(to top, #000, transparent);
    opacity: 0.7;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  @media (min-width: $tablet-breakpoint) {
    display: block;
  }
}

.desktop-banner .banner {
  @media (min-width: $tablet-breakpoint) {
    display: none;
  }

  @media (max-width: $mobile-breakpoint) {
    display: block;
    margin-left: -16px;
    width: calc(100% + 32px);
    margin-bottom: 3rem;
    height: 200px;
    background-size: contain;

    .banner__text {
      padding-left: 0;
      text-align: center;
      width: auto;
      top: 40px;
    }

    h1 {
      font-size: 54px;
    }
  }
}

.banner__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.banner__text {
  h1 {
    font-size: 54px;
    display: inline;
    font-weight: bold;
    padding-inline: 12px;
    padding-block: 20px;
    display: inline-block;
    margin-bottom: 0;
    color: $white;
  }

  p {
    font-size: 18px;
    padding-inline: 12px;
    padding-block: 0 20px;
    display: inline-block;
    margin: 0;
    color: $white;
  }

  a {
    color: $white;
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
    margin-left: 2px;
    font-weight: 500;

    img {
      width: 14px;
    }
  }
}

/* .banner__text span {
  color: #fc4c02;
} */

.banner__text {
  position: relative;
  top: 90px;
  line-height: 1;

  @media (max-width: $mobile-breakpoint) {
    top: 64px;
  }
}

.banner img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.book-header {
  margin-bottom: 20px;

  img {
    max-width: 240px;
    @media (max-width: $mobile-breakpoint) {
      max-width: 200px;
    }
  }

  label:focus {
    outline: none !important;
  }
}

// Desktop Header
.header {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.header__container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo span {
  font-size: 24px;
}

.header__logo-text {
  padding-top: 14px;
}

.header__seperator {
  height: 40px;
  width: 1px;
  margin-top: 10px;
  background-color: black;
  display: inline-block;
  margin: 6px 20px 0;
}

/*--------- Search Boxcontent------ */
.content {
  width: 277px;
  margin-left: auto;
  position: relative;
}

.header__search {
  align-items: center;
}

// Hire Us Button

.header__hire-btn {
  border-radius: 2px;
  cursor: pointer;
  width: 100% !important;
  max-width: 150px;
  display: block;
  text-decoration: none;
  transition: background 0.5s;
  background: #fc4c02;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 19px 18px 15px;
  position: relative;
  border: 1px solid #fc4c02;
  background-color: #fc4c02;
  border-color: #c93100;
  color: #fff;
  text-align: center;
  line-height: 1;
}

.header__hire-btn:after {
  content: '';
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid $white;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: -1;
  transition: 0.5s ease all;
}

.header__hire-btn:hover {
  background: #fff;
  color: #fc4c02;
  border-color: rgba(201, 49, 0, 1);
}

.header__hire-btn:hover:after {
  left: -1px;
  top: -1px;
}

#book-search-input {
  height: 47px;
  line-height: 47px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}

// Search Results
#book-search-results {
  position: absolute;
  background: $black;
  z-index: 1;
  padding-left: 0;
  list-style: none;
  padding: 0.5rem;
  top: 100%;
  border: 1px solid;
  border-top: 0;
  top: calc(100% - 8px);
  left: 0;
  right: 0;
  border-radius: 0 0 10px 10px;

  @media (min-width: $tablet-breakpoint) {
    background: white;
  }

  &:empty {
    display: none;
  }
}

// blockquote theming
span.bq__author:before {
  content: '\2014';
  margin-right: 5px;
}

cite.bq__cite {
  position: relative;
  padding-left: 5px;

  &:before {
    content: ',';
    position: absolute;
    left: -3px;
  }
}

// Table of content theming
.book-toc {
  .book-toc-content {
    position: relative;
  }

  a {
    color: $gray;
  }
}

aside nav ul li {
  font-size: 14px;
}

.container {
  padding: 0 15px;
}

.quiz-wrappar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .first_display {
    display: inline-block;
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.08);
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    position: relative;
    max-width: calc(25% - 0.75rem);

    .cr_title a {
      color: $white;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .coursetitle {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @media (max-width: $tablet-breakpoint) {
      max-width: calc(50% - 1rem);
    }

    @media (max-width: $mobile-breakpoint) {
      max-width: 100%;
    }

    &:nth-child(4n + 1) .courseimgmain,
    &:nth-child(4n + 2) .courseimgmain {
      background: linear-gradient(242deg, #f49cae, #b05ce2);
    }

    &:nth-child(4n + 3) .courseimgmain,
    &:nth-child(4n + 4) .courseimgmain {
      background: linear-gradient(240deg, #8affe7, #5939e0);
    }

    .courseimgmain {
      display: flex;
      align-items: center;
      height: 108px;
      width: 100%;
      overflow: hidden;
      padding: 20px 10px;
      position: relative;

      h3 {
        margin: 0;
        padding: 0;
      }
    }

    .cr_title {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      color: #ffffff;
      line-height: 20px;
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
    }

    .coursedetails {
      display: inline-block;
      width: 100%;
      padding: 21px 20px 26px;

      h3 {
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #000;
      }
    }
  }
}

section.block {
  margin: 50px 0;
}

.discover-top-categories ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;

  li {
    width: 25%;
    max-width: calc(25% - 10px);
    height: 194px;
    cursor: pointer;
    transition: all 0.3s;

    .top_category_link {
      position: relative;
      border-radius: 8px;
      background-color: $orange;

      img {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: $mobile-breakpoint) {
      max-width: 48%;
      width: 48%;
      height: 122px;
    }

    a {
      display: flex;
      height: 100%;
      color: #fff;
      padding: 24px 15px 30px;

      img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
      }

      .label {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: normal;
        color: #fff;
        margin-bottom: 0;
        z-index: 1;
        cursor: pointer;
      }
    }
  }
}

.service-item__wrappaer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 44px;

  @media (max-width: $mobile-breakpoint) {
    gap: 1rem;
  }

  .service-item {
    width: 100%;
    max-width: calc(25% - 0.75rem);

    @media (max-width: $mobile-breakpoint) {
      max-width: 47.5%;
      width: 47.5%;
    }

    img {
      max-width: 100%;
      width: 50px;
      height: 50px;
      margin: auto;
      display: block;
    }

    .edge-description {
      text-align: center;
      margin-top: 15px;
    }
  }
}

.mobile-padding-0 {
  @media (max-width: $mobile-breakpoint) {
    padding: 0;
  }
}

.book-page h2 {
  margin-bottom: 30px;
  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 20px;
  }
}

.h1-icon {
  max-width: 210px;
}

.trending-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &.blog-page {
    .card-wrapper {
      width: 100%;
      max-width: calc(33% - 0.75rem);

      @media (max-width: $mobile-breakpoint) {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .card-wrapper {
    width: 100%;
    max-width: calc(25% - 0.75rem);

    @media (max-width: $mobile-breakpoint) {
      max-width: 100%;
      width: 100%;
    }

    &:hover {
      .card-body.card-body-overlay {
        margin-top: -10px;
      }

      .card .card-img-wrapper .overlay {
        opacity: 1;
        background-color: rgba($orange, 0.8);
      }
    }

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;

      .card-body-container {
        color: #000;
      }

      .label {
        margin: 0 0 10px 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 500;
      }

      .card-text {
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .btn--secondary {
        height: 44px;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 0;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
        border: solid 2px #fff;
        background: transparent;
        color: #fff;
        display: inline-block;
        vertical-align: middle;

        .button__inner-rollover-text {
          padding: 11px 53px;
          letter-spacing: 0.8px;
          transition: transform 0.4s;
          display: block;
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        }
      }

      .card-body-overlay {
        padding: 16px 16px 32px 16px;
        flex: none;
        height: auto;
        margin-top: -22px;
        background-color: #fff;
        transition: 0.4s ease;
        margin-right: 22px;
        overflow: hidden;
        box-shadow: 0 0 20px 0 rgba(0, 0, 10, 0.05);
        z-index: 9;
        position: relative;
      }

      .card-img-wrapper {
        position: relative;
        display: flex;

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.4s ease;
          background-color: $orange;
        }

        img {
          transition: 0.4s ease;
          max-width: 100%;
        }
      }
    }
  }
}

.btn--secondary {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  border: solid 2px #fff;
  background: transparent;
  color: #fff;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  font-weight: 500;

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    background: #fff;
    transform: translate3d(-100%, 0, 0);
    box-sizing: border-box;
    padding: 12px 53px 11px 53px;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    color: $orange;
    text-align: center;
    font-weight: 500;
  }

  &:hover {
    &::before {
      transform: translate3d(0, 0, 0);
    }
  }
}

.btn--primary {
  border: solid 2px $orange;
  background-color: #fff;
  color: $orange;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 11.5px;
  margin-top: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-block: 8px;
  font-weight: 600;
  font-size: 12px;

  span {
    padding: 8px 21px;
    letter-spacing: 0.7px;
  }

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    background: $orange;
    transform: translate3d(-100%, 0, 0);
    box-sizing: border-box;
    padding: 8px 9px;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    padding: 8px 21px;
    letter-spacing: 0.7px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
  }

  &:hover {
    &::before {
      transform: translate3d(0, 0, 0);
    }
  }
}

.blog-tile {
  width: 100%;
  max-width: calc(25% - 0.75rem);

  @media (max-width: $mobile-breakpoint) {
    max-width: 100%;
    width: 100%;
  }

  h3 {
    font-size: 16px;
    color: #000000;
    display: inline-block;
    width: 100%;
    line-height: inherit;
    font-weight: 600;
    padding-top: 12px;
    margin-bottom: 0;
    a {
      color: #000;

      &:visited {
        color: #000;
      }
    }
  }

  .title {
    padding-top: 0;
    margin-top: 0;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  img {
    max-width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.book-search {
  @media (max-width: $mobile-breakpoint) {
    margin-top: 42px;
  }
}

.services-banner {
  width: 100%;
  max-width: calc(33.3% - 0.7rem);
  display: inline-flex;
  background: #ffffff;
  height: 90px;
  border-radius: 2px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: space-between;
  padding: 25px 35px;
  width: 100%;
  margin-top: -45px;
  z-index: 1;
  color: #000;

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    min-width: 100%;

    &:not(:first-child) {
      margin-top: 0;
    }
  }

  .knowmoretxt {
    display: flex;
    align-items: center;
    color: $orange;
    font-weight: 500;

    img {
      width: 14px;
      height: 14px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.homepage {
  aside.book-menu {
    display: none;
  }
}

#menu-control:checked ~ main .book-menu {
  @media (max-width: $mobile-breakpoint) {
    display: block;
    position: fixed;
    top: 0;
  }
}

.menu-items__header {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;

    li {
      font-size: 20px;
      font-weight: 500;

      a {
        color: #000;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}

.docs-page {
  .blog-tile {
    margin-top: 15px;

    h3 {
      font-weight: 600;
      @media (max-width: $mobile-breakpoint) {
        font-size: 20px;
        line-height: 23px;
      }
    }

    .publish-date {
      display: block;
      width: 100%;

      @media (max-width: $mobile-breakpoint) {
        font-size: 16px;
        margin-top: 2px;
      }
    }
  }

  .blog-tile__picture {
    display: flex;
  }

  .book-toc {
    display: none;
  }

  .book-menu {
    display: none;

    @media (max-width: $mobile-breakpoint) {
      display: block;
    }
  }

  .markdown {
    h1 {
      @media (max-width: $mobile-breakpoint) {
        font-size: 36px;
      }
    }
    h2 {
      font-size: 40px;
      margin-bottom: 10px;

      @media (max-width: $mobile-breakpoint) {
        padding-top: 20px;
        font-size: 30px;
        margin-bottom: 3px;
      }

      + p {
        margin-top: 0;
      }
    }
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.test-series__block {
  &.services--page {
    .category-item {
      width: 50%;
      max-width: calc(50% - 10px);
    }
  }
}

.docs-page {
  .book-footer {
    display: none;
  }
}

.related--title {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 600;

  @media (max-width: $mobile-breakpoint) {
    font-size: 30px;
  }
}

.share-buttons {
  display: flex;
  gap: 8px;

  &--title {
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 600;

    img {
      margin-left: 4px;
    }
  }

  a {
    img {
      width: 40px;
      height: 40px;

      &.twitter {
        padding: 2px;
      }

      &.mail {
        height: 45px;
        width: 38px;
        margin-top: -3px;
      }
    }
  }
}

.book-menu a,
.book-menu label {
  align-items: center;
}

.book-footer .flex a {
  font-weight: bold;
}

.google--form {
  max-width: 100%;
  min-height: 1585px;
}

.book-header {
  padding-top: 16px;
  margin-bottom: 10px;

  label .book-icon {
    filter: unset;
    margin: unset;
    height: unset;
    width: unset;
    color: unset;
  }
}

.blog-tile__wrapper {
  .blog-tile {
    @media (max-width: $mobile-breakpoint) {
      margin-top: 12px;
    }
  }
  h3 {
    @media (max-width: $mobile-breakpoint) {
      margin-top: 0;
    }
  }

  p {
    margin: 7px 0 2px 0;
  }
}

.d-flex {
  display: flex;
  flex-wrap: wrap;

  h2 {
    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 0;
    }
  }

  .btn {
    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 15px;
    }
  }
}

ul.menu-items-wrapper {
  padding-left: 0;
}

.share-icon {
  width: 24px;
  height: 24px;
}

section.share-block-desktop {
  margin: 20px 0;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

section.share-block-mobile {
  margin: 20px 0;
  @media (min-width: $mobile-breakpoint) {
    display: none;
  }
}

.book-menu-content {
  height: 100%;

  section.share-block-desktop {
    position: sticky;
    top: 20px;
  }
}