<div class="justify-between align-center d-flex">
  <h2>Featured blogs</h2>
  <a
    class="btn btn--primary"
    href="{{ "featured-blogs/" | relURL }}"
    data-text="VIEW ALL"
  >
    <span class="button__inner-rollover-text">VIEW ALL</span>
  </a>
</div>

<div class="blog-tile__wrapper">
  {{ $count := 0 }}
  {{ range .Site.RegularPages.ByDate.Reverse }}
    {{ if and (eq (.Params.featured | default "no") "yes") (lt $count 4) }}
      {{ $count = add $count 1 }}
      <div class="blog-tile">
        <div class="blog-tile__picture">
          <img src="{{ "images/blog.webp" | relURL }}" alt="blog" />
        </div>
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p class="publish-date">{{ .Date.Format "January 2, 2006" }}</p>
        <a
          href="{{ .Permalink }}"
          data-text="read more"
          class="btn btn--primary"
        >
          <span class="screen-reader-text">Details</span>
          <span class="button__inner-rollover-text">read more</span>
        </a>
      </div>
    {{ end }}
  {{ end }}

</div>
