<div class="test-series__block">
  <div class="justify-between align-center d-flex">
    <h2>Discover Our Services</h2>
    <a
      class="btn btn--primary"
      href="{{ "our-services" | relURL }}"
      data-text="VIEW ALL"
    >
      <span class="button__inner-rollover-text">VIEW ALL</span>
    </a>
  </div>

  <div class="discover-top-categories viewmore">
    <ul class="less_element">
      <li class="category-item">
        <a
          href="{{ "experience-design-services" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa1.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Experience Design</span>
        </a>
      </li>
      <li class="category-item">
        <a
          href="{{ "development-services" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa2.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Development Services</span>
        </a>
      </li>
      <li class="category-item">
        <a
          href="{{ "quality-engineering-services" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa2.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Quality Engineering</span>
        </a>
      </li>
      <li class="category-item">
        <a
          href="{{ "content-services" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa1.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Content Writing</span>
        </a>
      </li>
    </ul>
  </div>
</div>
