<div class="test-series__block">
  <h2>Discover Top Expertise Areas</h2>

  <div class="discover-top-categories viewmore">
    <ul class="less_element">
      <li class="category-item">
        <a
          href="{{ "blog/software-engineering-career-guide" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa1.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Software Engineer</span>
        </a>
      </li>
      <li class="category-item">
        <a
          href="{{ "blog/courses-offered/" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa2.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Seo Expert</span>
        </a>
      </li>
      <li class="category-item">
        <a
          href="{{ "blog/web-development-career-path" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa1.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Web Development</span>
        </a>
      </li>
      <li class="category-item">
        <a
          href="{{ "blog/courses-offered/" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa2.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Digital Marketing</span>
        </a>
      </li>
      <li class="category-item">
        <a
          href="{{ "blog/courses-offered/" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa1.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Content Writing</span>
        </a>
      </li>
      <li class="category-item">
        <a
          href="{{ "blog/become-a-graphic-designer/" | relURL }}"
          class="top_category_link"
        >
          <img
            height="194"
            width="294"
            src="{{ "images/dsa2.png" | relURL }}"
            alt="screen 1"
          />
          <span class="label">Graphic Designer</span>
        </a>
      </li>
    </ul>
  </div>
</div>
