<h2>Latest Stories</h2>
<p>See what else is new</p>
<div class="trending-card__wrapper blog-page">
  {{ range .Site.RegularPages.ByDate.Reverse }}
    <div class="card-wrapper">
      <div class="card">
        <div class="card-img-wrapper">
          <img
            class="image card-img-top"
            src="{{ "images/web.webp" | relURL }}"
            alt="web logo"
            loading="lazy"
          />
          <div class="overlay">
            <a
              class="btn btn--secondary"
              aria-label="button"
              data-text="READ MORE"
              href="{{ .Permalink }}"
              target="_self"
              tabindex="0"
            >
              <span class="screen-reader-text">Details</span>
              <span class="button__inner-rollover-text">READ MORE</span>
            </a>
          </div>
        </div>
        <div class="card-body card-body-overlay">
          <a class="card-body-container" href="{{ .Permalink }}">
            <h4 class="label">
              <span>{{ .Title }}</span>
            </h4>
            <div class="card-content">
              <p class="card-text">{{ .Summary }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  {{ end }}
</div>
